.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0%;
  padding: 0%;
}

.Header{
  display: flex;
  flex: 25%;
  background-color: aqua;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Header .inputCont{
  display: flex;
  flex-direction: column;
}
.Header input{
  width: 300px;
  height: 50px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid gray;
}
.Header Button{
  width: 70px;
  height: 100px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;  
  padding-left: 10px;
  cursor: pointer;
}

.Todos {
  flex: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}
.TaskItem{
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  color: black;
}
.TaskItem .ContainerItem{
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TaskItem .ContainerItem span {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: #ADE792;
}
.TaskItem button {
  flex: 20%;
  height: 100%;
  border: none;
  font-size: large;
  font-weight: bold;
  background-color: #f1e9a2;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: rgb(128, 48, 48);
  cursor: pointer;
}
.TaskItem button:hover{
  background-color: #6ECCAF;
}